<p>transpo works!</p>
<body>
	<div id="masthead">
	<img src="ozoneparkimages/logo.png" class="logo" height="100px" alt="logo">
<h1>Transportation</h1>
	</div><!--closing div for masthead-->
	<div id="navbar">
		
	<ul id="navbarul">
		<li><a class="active" href="index.html">HOMEPAGE</a></li>
		
  		<li><a href="javascript:void(0)">SIGHTS</a>
			<ul>
			<li><a href="sightsgeo.html">Geography/Location</a></li>
        	<li><a href="sightslandmarks.html">Landmarks</a></li>
        	<li><a href="activities.html">Activities</a></li>
			</ul>
		</li>
		
		<li><a href="javascript:void(0)">COMMUNITY</a>
			
			<ul>
        	<li><a href="housing.html">Housing</a></li>
        	<li><a href="demog.html">Demographic</a></li>
      		</ul>
		</li>
		
		<li><a href="javascript:void(0)">PLACES</a>
			<ul>
			<li><a href="parks.html">Parks</a></li>
			<li><a href="schools.html">Schools</a></li>
        	<li><a href="shopdin.html">Shopping & Dining</a></li>
      			</ul>
		</li>
		
		<li><a href="transpo.html">TRANSPORTATION</a></li>
		
		<li><a href="contact.html">CONTACT US</a></li>
			
	</ul>		
			
 </div><!--closingdiv for nav-->
	<div id="container">
	<div id="content">
		<hr class="fornav navpagemore">
		
		<div id="transpobus">
		<h2>Below are some of the New York City Bus Routes that stop in Ozone Park.<br> Click them for more information:</h2>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/List_of_bus_routes_in_Queens#Q7">Q7</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q8_(New_York_City_bus)">Q8</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q9_(New_York_City_bus)">Q9</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q10_(New_York_City_bus)">Q10</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q11_(New_York_City_bus)">Q11</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q21_(New_York_City_bus)">Q21</a></li>
			</ul>
			<ul>
			
			<li><a href="https://en.wikipedia.org/wiki/Q24_(New_York_City_bus)">Q24</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q37_(New_York_City_bus)">Q37</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q41_(New_York_City_bus)">Q41</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q52_SBS_(New_York_City_bus)">Q52 SBS</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q53_SBS_(New_York_City_bus)">Q53 SBS</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q112_(New_York_City_bus)">Q112</a></li>
			
			
			</ul>
		<p>he New York City Subway's IND Fulton Street Line (A train) and IND Rockaway Line (A train) also run through the neighborhood.</p>
		</div>
		
		
		
		
		<table id="panel">
		<tr><td>
		<div id="navigatepage">
			
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Points of Interest:<br><a href="activities.html">Check our "Activities Page"</a><br>
			Information on the Geography:<br><a href="sightsgeo.html">Check our "Geography/Location Page"</a><br>
			Famous People from the Area:<br><a href="housing.html">Check our "Housing Page"</a></p><br>
		</div></td></tr>
	
	<tr><td>
		<div id="funfacttab">
			<h2>Fun Fact About Ozone Park!😀
			</h2><h3>The structure of the Queens Borough Hall won a design award from the Queens Center Chamber of Commerce.</h3>
		
			
			</div>
		
		</td></tr>
	
			
	</table>
		</div>
	</div>
	
	
	
	
<div id="footer">
			<p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
		</div><!--div for footer-->
<script src="js.js"></script>	
</body>

<router-outlet></router-outlet>