<body>
	
 <div id="masthead">
	 <img src="ozoneparkimages/logo.png" class="logo" height="100px" alt="logo">
	 
	 
<h1>Ozone Park|The Community Hub</h1>
	 
	</div><!--closing div for masthead-->
	
	<div id="navbar">
		
	<ul id="navbarul">
		<li><a class="active" routerLink="myApp">HOMEPAGE</a></li>
		
  		<li><a href="javascript:void(0)">SIGHTS</a>
			<ul>
			<li><a href="sightsgeo.html">Geography/Location</a></li>
        	<li><a href="sightslandmarks.html">Landmarks</a></li>
        	<li><a href="activities.html">Activities</a></li>
			</ul>
		</li>
		
		<li><a href="javascript:void(0)">COMMUNITY</a>
			
			<ul>
        	<li><a href="housing.html">Housing</a></li>
			<li><a href="demog.html">Demographic</a></li>
      		</ul>
		</li>
		
		<li><a href="javascript:void(0)">PLACES</a>
			<ul>
			<li><a href="parks.html">Parks</a></li>
			<li><a href="schools.html">Schools</a></li>
        	<li><a href="shopdin.html">Shopping & Dining</a></li>
      			</ul>
		</li>
		
		<li><a routerLink="transpo.html">TRANSPORTATION</a></li>
		
		<li><a href="contact.html">CONTACT US</a></li>
			
	</ul>	
		
			
 </div><!--closingdiv for nav-->
<div id= "container">
	
	<hr class="fornav">
	
<div class="content">	
		
	<div id="briefhistory">
			
			<h2>Name Origin</h2>
			<p>How did Ozone Park get its name? Well, when you think of the word Ozone, what might come to mind is the the gas that makes up part of Earth's atmosphere. It consistes of ground-level pollutants such as smog and industrial waste. So why place a word like Park next to it?</p>
			<p>When Ozone gas was first identified in 1840, no one really understood its harmful affects. People associated the word with clean, fresh air. The word became popular as people began advertising beaches and properties using the word "Ozone". So naming a neighborhood "Ozone Park", was to bring attention to the pleasant environment. Such a description drew families in.</p>
			<p><i>This image of a cigratte card read read, "Ozone is present in the air at the sea-side."</i></p>
			<img src="ozoneparkimages/125.jpg" width="600px" alt="Card Promoting Ozone" class="img1">
			<br><br><br>	
			<h2>More History</h2>
			<p>Ozone Park, a middle class neighborhood in Queens, is located in the southwestern section of its borough. It is located in the Sixth congressional district.
			</p>
			
			<p id="leftp">It was founded in the 1840s, centered around an area known as Centreville Street and the Centreville Community Church. Durinig the 1870s, there was an economic depression that caused New York City residents to look for better housing. In 1880, the New York service began on the <a href="">Montauk Branch</a> and the <a href="">Rockaway Beach Branch</a> from Long Island to Howard Beach in Queens. The Rockaway Beach Branch's Ozone Park station opened 1883. Because of the name "Ozone", which promised clean air and no disease, people were drawn in. Ozone Park was called the "Harlem of Brooklyn" since Queens had not yet existed and Harlem was a thriving, bright Jewish-Italian neighborhood.
				</p>
			
			<img class="image2" src="ozoneparkimages/1ba97dd6a5a7311583dcf99286308e17.jpg" width="350px" alt="Image of Ozone Park">
			
	</div><!--div for briefhistory-->

<table id="panel">
	<tr><td><div id="welcome">
			<h2>Welcome</h2>
			<p> Welcome to Ozone Park! With a friendly community, along with a safe, clean environment, you are sure to feel right at home! </p>
			<img src="ozoneparkimages/neighborhoods_queens_ozone_park_300x300.jpg" alt="Welcome to Ozone Park!" width="200px">
			</div><!--closing div for welcome-->
	</td></tr>
			<tr><td><div id="navigatepage">
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Points of Interest:<br><a href="activities.html">Check our "Activities Page"</a><br>Community Status:<br><a href="demog.html">Check our "Demographics Page"</a><br>Thinking of moving in?<br> <a href="housing.html">Check our "Housing Page"</a></p>
			</div>
		</td></tr>
	
	<tr>
		<td><div id="funfacttab">
			<h2>Fun Fact About Ozone Park!😀
			</h2><h3>Ozone Park has served as the setting and the subject for several media works. Some are listed below. See if you recognize any of these!</h3>
			<ol>
				<li><b><i>A Bronx Tale</i></b><img src="ozoneparkimages/abronxtale.jpg" width="150px" alt="abronxtaleimg"></li>
				
				<li><b><i>The King of Queens</i>
					</b><img src="ozoneparkimages/thekingofqueens.jpg" width="150px" alt="kingofqueensimg"></li>
				
				<li><b><i>The Sopranos</i></b>
					<img src="ozoneparkimages/thesopranos.jpg" width="150px" alt="thesopranosimg"></li>
				
				</ol>
			
			</div>
		
		</td>
		
		</tr>
	
	
	
	</table>			
	</div><!--div for content-->
	</div><!--div for container-->	
	<div id="footer">
			<p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
		</div><!--div for footer-->
<script src="js.js"></script>
</body>

<router-outlet></router-outlet>
